.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.calibre2 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre3 {
    display: list-item
    }
.calibre4 {
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.calibre5 {
    clear: both;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 0;
    padding-left: 0.2em;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    border: currentColor none medium;
    margin: 1em auto 2em
    }
.calibre6 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre7 {
    display: list-item;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-left: 0
    }
.calibre8 {
    color: orange;
    cursor: pointer;
    display: block;
    font-size: 1.375em;
    line-height: 1.2;
    padding-left: 0;
    text-decoration: none;
    margin: 1em 0
    }
.calibre9 {
    clear: both;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 0;
    padding-left: 0.2em;
    padding-top: 0;
    text-align: left;
    text-indent: 0;
    border-left: #5e110b solid 10px;
    margin: 10% 0 5%
    }
.calibre10 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 2em;
    margin: 0.1em 0 1em
    }
.calibre11 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 2em;
    margin: 0.1em 0 0
    }
.calibre12 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre13 {
    display: list-item;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none
    }
.calibre14 {
    color: orange;
    cursor: pointer;
    display: block;
    text-decoration: none;
    margin: 1em 0
    }
.calibre15 {
    clear: both;
    color: #5e110b;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    padding: 0 0.5em;
    margin: 0.83em 0
    }
.calibre16 {
    clear: left;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 2em;
    margin: 0.1em 0 1em
    }
.calibre17 {
    clear: both;
    color: #5e110b;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    padding: 0 0.5em;
    margin: 0.83em 0
    }
	/* h2 {
    font-size: 1.1em;
    margin-top: 4em;
    margin-bottom: 4em;
    text-align: left;
    text-indent: 0em;
    font-weight: 700;
} */
.calibre18 {
    clear: both;
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    padding: 0 0.5em;
    margin: 1em 0
    }
.song_bold {
    font-weight: bold
    }
.song_bold1 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    text-indent: 2em;
    margin: 0.1em 0 1em
    }
.tocenter {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.1em 0 1em
    }
.tocenter1 {
    clear: left;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.1em 0 1em
    }
.toright {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: right;
    text-indent: 0;
    margin: 0.1em 0 0
    }
.toright1 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: right;
    text-indent: 0;
    margin: 0.1em 0 1em
    }
